/* Estilizando o "body" como um todo */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 
/* Importando uma fonte do google fontes */


/* Estilizando os aspectos gerais do projeto */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ; /* definir altura e largura dos elementos */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}


header { /* Estilizando o cabeçalho */
padding: 2rem; /* unidade de medida variável conforme dispositivo */
    text-align: center;
    background-color: #2E1F0F;
}

#index-header {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-end; 
    flex-wrap: nowrap; 
    gap: 1rem;; 
}

.button-header a {
    border: 2px solid #C8935A; /* personalizando a borda */
    outline: none; /* tirando o outiline, estética */
    border-radius: 99px; /* arredondando as bordas */
    margin: 0 auto;
    margin-top: 10%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    background-color: #8C4A2F;   
    color: #FAF3E8;               
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
    font-weight: 400;
    transition: background-color 0.2s;
}

/* Navegação do cabeçalho */
#nav-cabecalho {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


#nav-cabecalho a:hover {
  background-color: #2E1F0F;   /* Mogno — cor-texto */
}


body { /* Estilizando o "body" como um todo */
    width: 50%;
    height: 50vh;
    transform-origin: top left;
    transform: scale(2); /* Ajustando as proporções conforme os elementos do projeto */
    line-height: 1.5; /* Espaçamento entre as linhas */
    background-color: #FAF3E8;
    background-repeat: no-repeat;
    color: #C8935A; 

}

main {
    padding: 2rem;
    display: flex;
    gap: 1.5rem; /* define o espaçamento entre */

}

section {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; 

}

h1 { /* Personalizando título príncipal */
    color: #FAF3E8;

}

h2, h3, h4 { /* subtítulos */
    color: #2E1F0F;
}

footer {
    text-align: center;

}

/*  */

#links-externos {
    text-align: center;
}

#links-externos li {
    text-align: justify;
    margin-bottom: 15%;
    font-size: small;
}

/* Formatando imagem */

.foto-perfil {
    width: 200px;
    height: 200px;
    float: right;
    margin-left: 3px;
}

/* Modificando as listas */

li { 
    list-style: none; /* Tirando os pontos da lista */
}

#competencias li { /* Alterando a listagem da seção "Competências" */
    list-style:circle;
}

#link-sm li { /*  */
    display:flex; /* */
    flex-direction: row; /* */
    gap: 1rem; /* margem entre os componentes */
    justify-content: center;
}

.container { /* Padronizando os itens com o class "container" */
    background-color: #EDD9B4;
    padding: 0.2rem;
    border: 2px solid #C8935A;
    border-radius: 15px;
}

/* Estilizando elementos dos formulários */

